* {
  box-sizing: border-box;
}

body {
  margin: 0;
  text-align: center;
}

.background-img {
  position: relative;
  width: 100%;
  height: 100vh;
  background-image: url(./img/background.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

button {
  outline: none;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.info {
  position: absolute;
  top: 5%;
  left: 50%;
  transform: translateX(-50%);
}

.info .stop-btn {
  display: none;
  margin: 10px auto;
}

.info .play-btn {
  margin: 10px auto;
}

.info .play-btn,
.info .stop-btn,
.modal .replay-btn {
  font-size: 26px;
  text-align: center;
  width: 80px;
  height: 80px;
  border: 4px solid #000;
  border-radius: 10px;
  color: #000;
  background-color: #d4d8ed;
  transition: transform 250ms ease-in-out;
}

.info .play-btn:hover,
.modal .replay-btn:hover,
.info .stop-btn:hover {
  transform: scale(1.1, 1.1);
}

.info .timer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 200px;
  height: 50px;
  font-size: 30px;
  font-weight: 600;
  background-color: #fff;
  border: 4px solid #000;
  border-radius: 10px;
  margin-bottom: 10px;
}

.info .counter {
  width: 65px;
  height: 65px;
  margin: auto;
  font-size: 50px;
  font-weight: 600;
  line-height: 1.3;
  text-align: center;
  background-color: #f6ada2;
  color: #fff;
  border: 4px solid #000;
  border-radius: 50%;
}

.modal {
  display: none;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 60%;
  left: 50%;
  z-index: 1;
  transform: translate(-50%, -60%);
  margin: auto;
  padding: 10px;
  width: 50%;
  max-width: 550px;
  height: 30%;
  border-radius: 30px;
  background-color: rgba(70, 70, 70, 0.7);
}

.modal-desc {
  margin: 0 0 10px 0;
  font-size: 50px;
  color: #fff;
}

.items-box {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, -5%);
  width: 90%;
  height: 50vh;
  margin: 0;
}

.carrot {
  position: absolute;
  top: 0;
  left: 0;
  width: 80px;
  height: auto;
  cursor: pointer;
}

.bug {
  position: absolute;
  top: 0;
  left: 0;
  width: 60px;
  height: auto;
  cursor: pointer;
}

.game-rule {
  position: absolute;
  top: 58%;
  left: 50%;
  padding: 40px;
  transform: translate(-50%, -50%);
  width: 55%;
  border-radius: 20px;
  color: #fff;
  background-color: rgba(70, 70, 70, 0.9);
}

.game-rule h1 {
  font-size: 40px;
  margin-top: 0;
}

.game-rule ol {
  padding-left: 40px;
  text-align: start;
  list-style: none;
}

.game-rule li {
  font-size: 25px;
  margin-top: 10px;
}

@media screen and (max-width: 1024px) {
  .carrot {
    width: 60px;
    height: auto;
  }

  .bug {
    width: 60px;
    height: auto;
  }

  .game-rule {
    padding: 20px;
    width: 55%;
  }
  .game-rule h1 {
    font-size: 26px;
  }

  .game-rule li {
    font-size: 18px;
    margin-top: 6px;
  }
}

@media screen and (max-width: 768px) {
  .info {
    top: 2%;
  }
  .info .play-btn,
  .info .stop-btn,
  .modal .replay-btn {
    font-size: 16px;
    width: 50px;
    height: 50px;
    border: 3px solid #000;
    border-radius: 8px;
  }
  .info .play-btn {
    margin: 4px auto;
  }
  .info .stop-btn {
    margin: 4px auto;
  }

  .info .timer {
    width: 100px;
    height: 40px;
    font-size: 20px;
    border: 3px solid #000;
    border-radius: 8px;
    margin-bottom: 3px;
  }

  .info .counter {
    width: 40px;
    height: 40px;
    font-size: 30px;
    border: 3px solid #000;
  }

  .carrot {
    width: 48px;
    height: auto;
  }

  .bug {
    width: 45px;
    height: auto;
  }

  .modal {
    top: 70%;
    width: 50%;
    height: 40%;
    border-radius: 10px;
  }

  .modal-desc {
    font-size: 30px;
  }

  .game-rule {
    display: none;
    padding: 15px;
    width: 55%;
  }
  .game-rule h1 {
    font-size: 20px;
  }
  .game-rule ol {
    padding-left: 20px;
  }
  .game-rule li {
    font-size: 12px;
    margin: 0;
  }
}
